<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <a class="navbar-brand" href="/home">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_nPKZlSlgaY-RT7p7HqvCWIvpIEUwEc4jKVttYRoTIIrnBQLn&usqp=CAU" width="30" height="30" alt="">
    </a>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
     <a class="p-2 text-dark" href="/home">Главная</a>
     <a class="p-2 text-dark" href="/userProfile">Moя страница</a>
    <!--<a class="p-2 text-dark" href="#">Support</a>
    <a class="p-2 text-dark" href="#">Pricing</a> -->
  </nav>
  <a class="btn btn-outline-primary mr-3" href="/registration">Зарегестрироватся</a>
  <a class="btn btn-outline-primary mr-3" href="/login">Войти</a>
  <a class="btn btn-warning mr-3" (click)="logoutUser()">Выйти</a>
</div>
