body {
  background-image: url(https://thumbor.my.ua/NRWKGNRap-N34dRjm92sHHe8hoA=/767x510/smart/akcenty.com.ua/crops/3f87d0/620x0/1/0/2020/02/13/7ZqktTBXROrOfLhjhtzp1ZE1TsTXjezA6RMsR3cg.jpeg);
  width: 760px;
  height: 500px;
  margin: 0 auto;
}
